<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>多人聊天室登录</title>
	<link rel="stylesheet" href="{:url('/')}__STATIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{:url('/')}__STATIC__/stylesheets/style.css">
	<script type="text/javascript" src="{:url('/')}__STATIC__/javascripts/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="{:url('/')}__STATIC__/rolling/js/rolling.js"></script>
	<script type="text/javascript" src="{:url('/')}__STATIC__/javascripts/Public.js"></script>
</head>
<body class="login" style="background: url('{:url('/')}__STATIC__/images/theme/superHeros/login.jpg') no-repeat fixed top;background-size:cover;">
	<div class="scrollbar-macosx">
		<div class="main container ">
			<div class="jumbotron">
				<h1></h1>
				<p class="user_portrait">
					<img portrait_id="1" src="{:url('/')}__STATIC__/images/user/1.png" alt="portrait_1">
				</p>
				<p class="select_portrait">
					<img portrait_id="1" src="{:url('/')}__STATIC__/images/user/1.png" alt="石头" class="t">
					<img portrait_id="2" src="{:url('/')}__STATIC__/images/user/2.png" alt="超人">
					<img portrait_id="3" src="{:url('/')}__STATIC__/images/user/3.png" alt="银魔">
					<img portrait_id="4" src="{:url('/')}__STATIC__/images/user/4.png" alt="隱形女俠">
					<img portrait_id="5" src="{:url('/')}__STATIC__/images/user/5.png" alt="神奇先生">
					<img portrait_id="7" src="{:url('/')}__STATIC__/images/user/7.png" alt="霹雳火">
					<img portrait_id="8" src="{:url('/')}__STATIC__/images/user/8.png" alt="浩克">
					<img portrait_id="9" src="{:url('/')}__STATIC__/images/user/9.png" alt="绿灯侠">
					<img portrait_id="10" src="{:url('/')}__STATIC__/images/user/10.png" alt="闪电侠">
					<img portrait_id="11" src="{:url('/')}__STATIC__/images/user/11.png" alt="蝙蝠侠">
					<img portrait_id="12" src="{:url('/')}__STATIC__/images/user/12.png" alt="美国队长">
				</p>
				<p>
					<div class="input-group">
						<input type="text" class="form-control" value="石头">
						<span class="input-group-btn">
							<button id="login" class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-arrow-right"></span>
							</button>
						</span>
					</div>
				</p>
			</div>
			<div class="footer">
				当前<span></span>人在线！
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="{:url('/')}__STATIC__/js/jquery.cookie.js"></script>

<script type="text/javascript">
	try {
		var ws = new WebSocket('ws://{$ip}:9501?page=login');
		ws.onopen = function(evt) { 
		  	console.log("Connection open ...");
		  	ws.onmessage = function(evt) {
			  recive_message = evt.data;
			  console.log('this is a message from server：'+recive_message)
			  $('.footer span').text(recive_message);
			  $('.footer').show()
			};
			
		};
	}catch(err) {
		console.log(err)
	}
</script>