
html{
    height: 100%;
}
body{
    height: 100%;
}
#app{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    will-change: width;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: 100%;
}
.sidebar{
    width: 300px;
    height: 100%;
    background: #f4f4f4;
    transition:width 0.3s;
    -moz-transition:width 0.3s; /* Firefox 4 */
    -webkit-transition:width 0.3s; /* Safari and Chrome */
    -o-transition:width 0.3s;
}
.sidebarHide{
    width: 50px;
    overflow: hidden;
    transition:width 0.3s;
    -moz-transition:width 0.3s; /* Firefox 4 */
    -webkit-transition:width 0.3s; /* Safari and Chrome */
    -o-transition:width 0.3s; /* Opera */
}
.sidebar-header{
    height: 48px;
    margin-top: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-left: 10px;
}
.hamburgerMenu{
    cursor: pointer;
    padding: 7px;
    width: 32px;
    height: 32px;
    background-color: #fff;
}
.sidebar-header i{
    text-align: center;
    color: #465efc;
    
}

.sidebar-main .list .item{
    height: 36px;
    display: flex;
    padding-left: 10px;
    cursor: pointer;
    
}
.sidebar-main .list .item:hover{
    background-color: #FAFAFA;
}
.sidebar-main .list .item:first-child{
    background-color: #EDEDED;
}
.sidebar-main .list .item:first-child:hover{
    background-color: #EDEDED;
}

.sidebar-main .list .item .itemName{
    line-height: 32px;
    font-size: 16px;
    white-space:nowrap;
}
.sidebar-main .list .item:first-child .itemName{
    font-weight: 600;
}
.sidebar-main .list .item .listNum{
    line-height: 32px;
    font-size: 16px;
    margin-left: auto;
    padding-right: 10px;
}
.sidebar-main .list .item .ico{
    padding: 7px;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}






/*main部分- 顶部栏*/
.main{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.tasksToolbar{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
}
.tasksToolbar-left{
    padding: 30px;
}
.leftBar-title{
    font-weight: 800;
    padding-bottom: 8px;
    white-space:nowrap; 

}
.leftBar-date{
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 200;
}
.tasksToolbar-right{
    margin-left: auto;
    padding: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    white-space:nowrap; 
}
.tasksToolbar-actionsItem button{
    border:none;
    background-color: #fff;
    outline: none;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    margin-left: 10px;
    padding: 5px;
}
.tasksToolbar-actionsItem button:hover{
    background-color: #EDEDED;
}


.container{
    position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    will-change: transform;
}
.layer{
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
    will-change: transform;
}
.flexBoxFix{
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.main-background{
    overflow: hidden;
    position: relative;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}
.backgroundLines{
    margin: 0 24px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: -webkit-linear-gradient(270deg, #fff, #fff 52px, #e5e5e5 52px, #e5e5e5 52px);
    background: -moz-linear-gradient(270deg, #fff, #fff 52px, #e5e5e5 52px, #e5e5e5 52px);
    background: -o-linear-gradient(270deg, #fff, #fff 52px, #e5e5e5 52px, #e5e5e5 52px);
    background: -ms-linear-gradient(270deg, #fff, #fff 52px, #e5e5e5 52px, #e5e5e5 52px);
    background: linear-gradient(180deg, #fff, #fff 52px, #e5e5e5 52px, #e5e5e5 52px);
    -webkit-background-size: 100% 53px;
    -moz-background-size: 100% 53px;
    background-size: 100% 53px;
    border-top: 1px solid #e5e5e5;
}

.baseAdd{
    -webkit-box-shadow: 0 -17px 0 -16px #e5e5e5;
    box-shadow: 0 -17px 0 -16px #e5e5e5;
    margin: 0 8px;
    padding: 0 12px;

    overflow: hidden;
    position: relative;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.baseAdd-icon{
    width: 32px;
    height: 32px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    cursor: pointer;
}
.baseAdd i{
    font-size: 26px;
}
.baseAdd-input{
    padding: 16px 12px;
    font-size: 16px;
}

.chunkedComponentList{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    padding-right: 20px;
}
.sticky{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.chunkedScrollContainer{
    position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-left: 12px;
}

.taskItem-body {
    min-height: 52px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    padding: 0 12px;
    -webkit-box-shadow: 0 17px 0 -16px #e5e5e5;
    box-shadow: 0 17px 0 -16px #e5e5e5;
}
.taskItem-body:hover{
    background: #f4f6ff;
}

.checkBox{
    padding: 0px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
/*.unCheck{
    font-size: 26px;
    color: #0078D7;
}*/
.taskItem-titleWrapper {
    text-align: left;
    white-space: nowrap;
}
.taskItem-title{

}
.metaDataInfo {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 13px;

    color: #767678;
}
.metaDataInfo-group {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



/*右键菜单*/
.popover {
    position: fixed;
    z-index: 10000;
    background: #fff;
    list-style: none;
    padding: 6px 0;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    min-width: 150px;
    max-width: 250px;
    cursor: default;
}
.popoverMenuItem {
    min-height: 38px;
    padding: 0 8px;
    cursor: pointer;
    position: relative;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
}
.popoverMenuItem:hover{
    background-color: #EDEDED;
}
.popoverMenuItem .popoverMenuItem-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.popoverMenuItem .popoverMenuItem-icon {
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.popoverMenuItem-label {
    padding: 0 4px;
    height: 20px;
    display: block;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: left;
}
.popoverMenuItem-delete{
    color: #db3a29;
}
.checkBox .check{
    font-size: 23px;
}
.unCheck .check:before{
    content: "\e6cf";
}
.hasCheck .check{
    color: #3e69e4;
}
.hasCheck .taskItem-title{
    text-decoration: line-through;
    color: #767678;
}
.hasCheck .check:before{
    content: "\e650";
}

.unImport .important:before{
    content: '\e601'
}
.isImport .important:before{
    content: '\e625';
    color: #1296db;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* .sidebar {
        width: 4rem;
    }
    .sidebarHide{
        width: 0.78rem;
    } */
    
}

