<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Document</title>
	<link rel="stylesheet" href="{:url('/')}__STATIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{:url('/')}__STATIC__/rolling/css/rolling.css">

	<link rel="stylesheet" href="{:url('/')}__STATIC__/stylesheets/style.css">
	<script type="text/javascript" src="{:url('/')}__STATIC__/javascripts/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="{:url('/')}__STATIC__/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{:url('/')}__STATIC__/rolling/js/rolling.js"></script>
	<script type="text/javascript" src="{:url('/')}__STATIC__/javascripts/Public.js"></script>
	<script type="text/javascript" src="{:url('/')}__STATIC__/code/jquery.emoticons.js"></script>
</head>
<body class="room" style="background: url('{:url('/')}__STATIC__/images/theme/superHeros/<?php echo rand(1,7);?>.jpg') no-repeat fixed top;background-size:cover;">
	<div class="scrollbar-macosx">
		<div class="header">
			<ul class="topnavlist">
				<li class="userlist">
					<a><span class="glyphicon glyphicon-th-list"></span>用户列表</a>
					<div class="popover fade bottom in">
						<div class="arrow"></div>
						<h3 class="popover-title">在线用户<span><?php echo count($roomMember)?></span>人</h3>
						<div class="popover-content scrollbar-macosx">
							<ul>
								{notempty name="roomMember"}
									{volist name="roomMember" id="vo"}
										<li fd="{$vo.fd}">
											<img src="{$vo.avatar}" alt="portrait_1">
											<b>{$vo.username}</b>
										</li>
									{/volist}
								{/notempty}
								
							</ul>
						</div>
					</div>
				</li>
			</ul>
			<div class="clapboard hidden"></div>
		</div>
		<div class="main container">
			<div class="col-md-12">
				<ul class="chat_info">
					
					<li class="systeminfo join" style="display: none">
						<span>【<b></b>】加入了房间</span>
					</li>
					<li class="systeminfo leave" style="display: none">
						<span>【<b></b>】离开了房间</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="input">
			<div class="center">
				<div class="text">
					<a class="trigger" href="javascript:;">☺</a>
					<div class="col-xs-10 col-sm-11">
						<input type="text" class="form-control" placeholder="输入聊天信息..." id="input-box">
					</div>
					<a id="subxx" role="button"><span class="glyphicon glyphicon-share-alt"></span></a>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	let username = "{$user.username}",
		avatar = "{$user.avatar}",
		userId = "{$user.id}",
		online = $('.userlist .popover-title span');
	try {
		var ws = new WebSocket('ws://{{$ip}}?room99=1&username='+username+'&avatar='+avatar+'&userId='+userId);
	}catch(err){
		alert('连接异常,刷新页面重连');
	}
	ws.onopen = function(evt) { 
	};
	ws.onmessage = function(evt) {
		//json转为数组
		recive_message = JSON.parse( evt.data );
		//在线人数
		if(recive_message.code == 1001){
			/*===========================用户进入房间提醒=================================*/
		  	$('.chat_info .join span b').text(recive_message.data.username);
		  	$('.chat_info .join').show(500);
		  	setTimeout(function () {
		  		$('.chat_info .join').hide(500);
            }, 2000)
		  	//用户列表
		  	/*var user_list = "<li fd='"+recive_message.data.fd+"'>`<img src="+recive_message.data.avatar+"><b>"+recive_message.data.username+"</b></li>"
		  	$('.userlist ul').append(user_list);
		  	//在线人数+1
		  	online_num = online.text();
		  	online.text( parseInt(online_num)+1 );*/
		}else if( recive_message.code == 1002 ){
			/*===========================用户离开房间提醒=================================*/
			$('.chat_info .leave span b').text(recive_message.data.username);
		  	$('.chat_info .leave').show();
		  	setTimeout(function () {
		  		$('.chat_info .leave').hide(500);
            }, 2000)
			var fd = recive_message.data.fd;
			//去除退出的用户的li
			$(".userlist ul li").each(function(){
			    var current_li = $(this);
			    if(current_li.attr('fd') == fd){
			    	current_li.remove();
			    }
			});
			//在线人数-1
			online_num = online.text();
		  	online.text( parseInt(online_num)-1 );
		}else if(recive_message.code == 2001){
			/*===========================接受数据=======================================*/

			let data = recive_message.data;
			$.emoticons({
				'activeCls':'trigger-active'
			},function(api){
				var result = $('.chat_info'),
					message = api.format( data.message );
					console.log(message);
				recive_list = "<li class='left'><img src='"+data.avatar+"'><b>"+data.username+"</b><i>"+data.time+"</i><div>"+message+"</div></li>";
				result.append(recive_list);	
			});			
		}
	};
	ws.onclose = function(){
      // 关闭 websocket
      alert("连接已关闭..."); 
   	};

   	$.emoticons({
		'activeCls':'trigger-active'
	},function(api){
		var $content = $('#input-box');
		var $result = $('.main .chat_info');
		$('#subxx').click(function(){
			let message = $("#input-box").val();
	   		let send_message = {"type":'normal','message':message,'userId':userId};
	   		ws.send(JSON.stringify(send_message));
	   		var date = new Date(),
   				time = date.getHours()+':'+ date.getMinutes();
			sends_message(username,avatar,api.format(message),time)
		});
	});
   	function sends_message (userName='', avatar='', message='',time='') {
		if(message!='') {
			$('.main .chat_info').append('<li class="right"><img src="' + avatar +' " alt=""><b>' + userName + '</b><i>'+time+'</i><div class="aaa">' + message  +'</div></li>') ;
		}
		// 滚动条滚到最下面
		$('.scrollbar-macosx.scroll-content.scroll-scrolly_visible').animate({
			scrollTop: $('.scrollbar-macosx.scroll-content.scroll-scrolly_visible').prop('scrollHeight')
		}, 500);
		$('.center').removeAttr("style")//
		$('.text input').val(''); // 清空输入框
		$('.text input').focus(); // 输入框获取焦点
	}
</script>
<script type="text/javascript">
	
$(".userlist a").click(function(){
	$.ajax({
        url: "/api/room/userList",
        type: 'post',
        dataType: 'json',
        data:{},
        timeout: 2000,
        success: function (result) {
            if(result.code == 3001){
            	//用户列表
            	var user_list= '';
            	$(result.data).each(function(i){
            		user_list += "<li fd='"+this.fd+"'>`<img src="+this.avatar+"><b>"+this.username+"</b></li>";
            	});
            	$('.userlist ul').html(user_list);
            	//在线人数+1
			  	online.text( result.num);	
			}
        },
    })
});
</script>
</html>