<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
<style>
	body{
		background:url({:url('/')}__STATIC__/css/debut_dark.png);
		margin:0px;
		padding:0px;
}
	form{
		width:450px;
		height:300px;
		margin:200px auto;
		background:#fff;
		border-radius:20px;
	}
	@media screen and (max-width: 768px) {
				form{
				width:100%;

				margin:20% auto;

			}
	}
</style>
</head>

<body>
		<form action="{:url('Login/index')}" method="post" class="panel-body message>
				<div class="form-group">
            	   <input type="text" name="username" autofocus="autofocus" placeholder="Your name" style="margin-top:10%;" class="form-control"/>
                </div>
    
    		    <div class="form-group">
            	   <input type="password" name="password" placeholder="Your password" style="margin-top:10%;" class="form-control"/>
                </div>
				
				<div class="form-group">
            	   <input type="submit"   style="margin-top:10%;" class="form-control" value="submit"></input>
                </div>
		</form>


</body>
</html>
